.push_button {
	position: relative;
	width:220px;
	height:60px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
    line-height: 63px;
    font-size: 30px;
	font-family:'Oswald', Helvetica;
	display: block;
    margin: 10px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.push_button:before {
	background:#f0f0f0;	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.push_button:active {
	top:5px;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.blue {
	text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	border-radius:5px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
}

li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;		
    text-decoration: none;		
    text-align: center;
    font-size: 18px;	
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: .095em;
    font-family: "Hammersmith One", sans-serif;		
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    transform: rotate(-360deg);
}

.title-type {
    margin-top: 5px;
}

.red {
    background-color: #f70000;
    color: #fff;
    border-color: rgba(0,63,71,.2);
}

.red:hover {
    color: #fff;
}

.yellow {
    background-color: rgba(252,227,1,1);
    color: rgba(153,38,0,1);
    border-color: rgba(153,38,0,.2);
}

.yellow:hover {
    color: rgba(252,227,1,1);
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);	
}

.green span {
    background: rgba(0,63,71,.7);		
}

.red span {
    background: rgba(133,32,28,.7);		
}

.yellow span {
    background: rgba(161,145,0,.7);	

}

@media screen and (max-width: 991px) {
    .push_button {
        width: 80px;
        height: 50px;
        line-height: 53px;
        font-size: 17px;
        margin: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .push_button {
        width: 80px;
        height: 50px;
        line-height: 53px;
        font-size: 17px;
        margin: 5px;
        margin-bottom: 10px;
    }
    .round {
		padding-top: 10px;		
    }
    li {
        list-style: none;
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 479px) {
    .push_button {
        width: 80px;
        height: 50px;
        line-height: 53px;
        font-size: 17px;
        margin: 5px;
        margin-bottom: 10px;
    }

    .round {
		padding-top: 10px;		
    }
    li {
        list-style: none;
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-left: 20px;
    }
}